.battle_view {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
    margin: 40px 20px 0;
    .battle_status {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 24px;
            color: #fff;
            margin-bottom: 20px;
        }
        img {
            width: 150px;
            height: 150px;
            margin-bottom: 15px;
        }
        #firstImg {
            animation: firstAnime 2s infinite linear;
        }
        #secondImg {
            animation: firstAnime 1.8s 0.2s infinite linear;
        }
        .card_status {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 20px;
            .status_icon {
                min-width: 50px;
                width: 100%;
                height: 35px;
                background-color: #0299d3;
                border-radius: 10px;
                display: flex;
                justify-content: space-between;
                gap: 1px;
                padding: 0 12px 4px;
                position: relative;
                h3 {
                    font-size: 20px;
                    color: #fff;
                }
                p {
                    font-size: 24px;
                    color: #fff;
                    margin: 0;
                    text-align: end;
                }
            }
        }
        .hp_box {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 4px;
            .hp_text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3,
                p {
                    color: #fff;
                    font-size: 16px;
                }
            }
            .hp_bar {
                width: 100%;
                transition: 0.4s;
                height: 15px;
                background-color: #05d250;
                border-radius: 8px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 159px;
                    height: 100%;
                    background-color: #d7d7d7;
                    border-radius: 8px;
                    z-index: -10000;
                }
            }
        }
    }
}

.battle_wrap {
    margin: 40px 30px 40px;
    h2 {
        color: #fff;
    }
    .battle_logs {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        padding: 24px 16px;
        border-radius: 16px;
        background-color: #000;
        height: 240px;
        overflow-y: scroll;
        .battle_log {
            height: 40px;
            min-height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 8px;
            p {
                padding-left: 16px;
                padding-bottom: 4px;
                color: #fff;
            }
        }
        .first {
            background-color: rgba(255, 0, 4, 0.5);
            border: solid 1px #ff0004;
        }
        .second {
            background-color: rgba(2, 153, 211, 0.5);
            border: solid 1px #0299d3;
        }
    }
}

@keyframes firstAnime {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-15px);
    }
    30% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

.modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: tomato;
}
